<p>
  <strong>English</strong>
  <%= @card.original_text %>
</p>
<p>
  <strong>Русский</strong>
    <%= @card.translated_text %>
</p>
<p>
  <strong>Дата пересмотра</strong>
    <%= @card.review_date %>
</p>


