<p>
  <strong>Оригинальный</strong>
  <%= @card.original_text %>
</p>
<p>
  <strong>Перевод</strong>
    <%= @card.translated_text %>
</p>
<p>
  <strong>Дата пересмотра</strong>
    <%= @card.review_date %>
</p>


